<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Please Login</title>
</head>

<style>
        body {
    background-color : #E3E6E8;
    margin: 0;
    padding: 0;
}
h1 {
    color : #000000;
    text-align : center;
    font-family: "SIMPSON";
}
form {
    align:center;
    width: 400px;
     background-color : #E3E6E8;
     display: inline-block;
     top-margin: 500px;

}

.form-div{
  align-items: center;
  display: flex;
  justify-content: center;
  top-margin: 500px;
}
</style>
<body style="background-image: url('https://arrows.to/images/resources/measuring-time-to-value.webp');">
<h1>Company Clock In</h1>
<div class="form-div" >
    <form name="f" th:action="@{/login}" method="post" >
        <fieldset>
            <legend style="text-align:center;">Please Login</legend>
            <div th:if="${param.error}" clas="alert alert-error">
                Invalid username and password
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="employeeID">Employee ID</label>
            <input type="text" id="employeeID" name="employeeID"/> <br>
            <label for="keyCode">Employee Key Code</label>
            <input type="password" id="keyCode" name="keyCode"/>
            <div class="form-actions">
                <button type="submit" class="btn" style="align-items:center;">Log in</button>
            </div>

        </fieldset>

    </form>
</div>

</body>
</html>